<div class="header">
  <div class="header-announcement">
    <% if (user !== undefined) { %>
      <form class="login-form login-form-loggedin" action="/logout" method="POST">
        <label class="login-alert">logged in as: <%= user.email %></label>
        <button class="button-header" type="submit">log out</button>
      </form>

    <% } else {%>
      <a href="/login"><button class="button-header">sign in</button></a>
      <a href="/register"><button class="button-header">register</button></a>
    <%}%>
    
  </div>

  <div class="header-content">
    <h1 class="header-title">
        <span><img class="header-image" src="../hellokitty.png" alt="Hello Kitty"></span>
        <a href="/urls">TinyApp</a>
        <span><img class="header-image header-melody" src="../melody.png" alt="Melody and her friend."></span>
    </h1>
  </div>
</div>