<div class="header">
  <h1 class="header-title">
    <span><img class="header-image" src="../hellokitty.png" alt="Hello Kitty"></span>
    TinyApp
    <span><img class="header-image header-melody" src="../melody.png" alt="Melody and her friend."></span>
  </h1>
</div>