<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hello, user</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- My CSS -->
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <!-- This line will not show up on the page -->
  <% if(greeting) {%>
    <!-- This line will only show if greeting is truthy -->
    <h1><%= greeting %></h1>
  <% }%>
  
  
</body>
</html>