<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header.ejs %>
  <h2>sign in to add your teeny tiny urls!</h2>
  <div class="form-wrapper">
    <form class="login-form login-form--login" action="/login" method="POST">
      <input id="email" class="form-input-login" type="text" name="email" placeholder="email">
      <input id="password" class="form-input-login" type="password" name="password" placeholder="password">
      <button class="button-submit button-login" type="submit">sign in</button>
    </form>
  </div>
  <% include ./partials/_footer.ejs %>
</body>
</html>