<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- My CSS -->
    <link rel="stylesheet" href="../style.css">
    <title>New URL - TinyApp Example</title>
  </head>
  <body>
    <% include partials/_header %>
    <h2>Generating TinyURL</h2>
    <%if (errors.length > 0) { %>
      <p class="alert-warning alert">
        <%= errors.pop()%>
      </p>
    <% } %>
    <div class="content-wrapper">
      <form action="/urls" method="POST">
        <div>
          <span><img src="/bow.png" alt="Hello kitty bow" width="35px"></span>
          <label for="longUrlInput">Enter a URL:</label>
          <input  id="longUrlInput" class="form-input-text" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
          <button class="button-submit" type="submit">Generate</button>
        </div>
      </form>
    </div> 
  </body>
</html>
