<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- My CSS -->
  <link rel="stylesheet" href="../style.css">
  <title>TinyApp</title>
</head>

<body>
  <% include ./partials/_header.ejs %>
 <div class="content-wrapper">
    <a href="/urls/new">
      <div class="button-create button">
        Create New TinyURL
      </div>
    </a>
    <table class="show-single-entry">
      <td><%= shortURL %></td>
      <td>=></td>
      <td><%= longURL %></td>
    </table>
  </content-wrapper>
  <div class="form-wrapper">
    <form action=<%="/urls/"+shortURL%> method="POST">
      <div>
        <label for="longUrlInput">Enter a new URL:</label>
        <input class="form-input-text" id="longUrlInput" type="text" name="longURL" placeholder="http://"
          style="width: 300px; margin: 1em">
        <button class="button-submit" type="submit">Submit</button>
      </div>
    </form>
  </div>
</body>

</html>