<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- My CSS -->
  <link rel="stylesheet" href="../style.css">
  <title>TinyApp</title>
</head>

<body>
  <% include ./partials/_header.ejs %>
  <div class="button-wrapper">
    <a href="/urls/new">
      <div class="button-create button">Create New TinyURL</div>
    </a>
  </div>
  <h2 style="margin: 20px 0">My URLs</h2>
  <div class="table-wrapper">
    <table>
      <% for (let shortURL in urls) { %>
      <tr>
        <td><img src="/bow.png" alt="Hello kitty bow" width="35px"></td>
        <td class="index-short-url"><%= shortURL%></td>
        <td>=></td>
        <td class="index-long-url"><%= urls[shortURL] %></td>
        <td class="table-actions">
          <a href=<%="urls/"+shortURL%>>edit</a> |
          <a href=<%="/urls/"+shortURL+"/delete"%>>delete</a>
        </td>

      </tr>
      <% } %>
    </table>
  </div>
</body>

</html>