body {
  background-color: white;
  font-family: 'Opan Sans', Arial, sans-serif;
  color: grey;
  font-weight: 300;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 200;
  text-align: center;
  margin: 0;
}

.header-announcement {
  background-color: #829af3;
  color: white;
  padding: 10px;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  width: 100%;
}

.header-content {
  display: flex;
  text-align: center;
  font-family: 'Opan Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #0054ae;
}

.header-title {
  flex: 1;
}

.header-images {
  flex: 1;
  margin: 0;
  padding: 0;
}

.header-image {
  width: 80px;
  height: auto;
  opacity: .85;
  animation: jiggle .8s ease infinite;
}

img:hover {
  transform: rotate(180deg);
  transition: all 1s ease;
}

@keyframes jiggle {
  25% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(5deg);
  }
}

.header-melody {
  width: 70px;
  height: auto;
  animation: jiggle .9s ease infinite;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.button-create {
  background-color: #0054ae;
  color: white;
  opacity: 0.6;
  width: 260px;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}

.button-submit {
  background-color: #0054ae;
  color: white;
  opacity: 0.4;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
}

button:hover {
  cursor: pointer;
  opacity: 1;
}

.button:hover {
  cursor: pointer;
  opacity: 1;
}

.button-header {
  margin: 0 10px;
  height: 50px;
  background-color: #2c3a7f;
  color: white;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 15px;
  opacity: .9;
  border: none;
  font-size: 20px;
}

.form-input-text {
  font-size: 1.1rem;
  padding: 5px 15px;
  border: 1px solid grey;
}

.form-input-login {
  font-size: 1.1rem;
  padding: 15px;
  height: 16px;
  border: 5px solid lightblue;
  background-color: white;
  border-radius: 15px;
  margin: 20px 10px;
  width: 200px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: red;
}

table {
  border: 6px solid lightblue;
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  margin: 20px;
  margin-top: 0;
}

td, th {
  padding: 10px;
}

.table-actions {
  color: #0054ae;
}

.index-short-url {
  font-weight: 700;
}

.table-wrapper, .form-wrapper, .content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  text-align: center;
}

/* .login-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  width: 100%;
} */

.login-form * {
  display: inline-block;
}

.image-bouquet {
  width: 30px;
  margin: 20px;
}

.image-bouquet:hover {
  transform: scale(10);
  transition: transform 0.2s ease;
}

.show-single-entry {
  margin: 20px;
}